<a href="https://colab.research.google.com/github/crypto10pi/Ejemplos/blob/main/Ejemplo3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url2="https://raw.githubusercontent.com/crypto10pi/Datos/main/HousePrice.csv"
url="https://github.com/crypto10pi/Datos/blob/main/gradedata.csv?raw=true"
df=pd.read_csv(url2)
df.info()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fname     2000 non-null   object
 1   lname     2000 non-null   object
 2   gender    2000 non-null   object
 3   age       2000 non-null   int64
 4   exercise  2000 non-null   int64
 5   hours     2000 non-null   int64
 6   grade     2000 non-null   float64
 7   address   2000 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 125.1+ KB